@CHARSET "UTF-8";

.erro {
	background-color: red;
	border: solid 2px brown;
	border-radius: 5px;
	color: aliceblue;
	font-style: bold;
	opacity: 70%;
	margin-top: 7px;
	text-align: center;
}

.sucesso {
	background-color: green;
	border: solid 2px darkgreen;
	border-radius: 5px;
	color: aliceblue;
	font-style: bold;
	opacity: 70%;
	margin-top: 7px;
	text-align: center;
}

.mapa {
	width: 100%;
	height: 300px	
}
